<div id="login1">
  <h3>Sign In</h3>

  <form action="/admin" method="POST">
    <label for="username"><b>Username</b></label>
    <input type="text" name="username" placeholder="Enter Username" />
    <label for="password"><b>Password</b></label>
    <input type="Password" name="password" placeholder="Enter password" />

    <input type="submit" value="Login" class="btn" /><br />
    
  </form>
<Label>OR</Label>
 <button id="register2" class="btn" style="background-color: #4169E1;">Register</button>
</div>
<div id="register1">
  <h3>Register</h3>

  <form action="/register" method="POST">
    <label for="username"><b>Username</b></label>
    <input type="text" name="username" placeholder="Enter Username" />
    <label for="password"><b>Password</b></label>
    <input type="Password" name="password" placeholder="Enter password" />

    <input type="submit" value="Register" class="btn" />
  </form>
  <label for="">OR</label>
  <button id="login2" class="btn" class="btn" style="background-color: #4169E1;">Login</button>
</div>
